<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jms.sample</display-name>
  <description>JMS sample</description>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>version</param-name>
    <param-value>0.1</param-value>
  </context-param>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.css</url-pattern>
      <default-content-type>text/css</default-content-type>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>*.js</url-pattern>
      <default-content-type>text/javascript</default-content-type>
    </jsp-property-group>
  </jsp-config>
  <error-page>
    <error-code>404</error-code>
    <location>/not_found</location>
  </error-page>
</web-app>